.button{
    -fx-background-color: transparent;
    -fx-border-color: #fcc000 ;
    -fx-text-fill: #ffffff;
}
.label{
    -fx-text-fill: #ffffff;
}

#textArea{
    -fx-border-color: #fcc000;
    -fx-background-color: #ffffff;
}

#canvasPane{
    -fx-border-color: #fcc000;
    -fx-background-color: #ffffff;
}

#drawCanvas{
    -fx-border-color: #fcc000;
    -fx-background-color: #ffffff;
}

.inputField{
    -fx-background-color: #ffffff;
    -fx-border-color: #fcc000 ;
}

#mainPane{
    -fx-background-color: #3D3B35;
}